@model int

@{
    ViewData["Title"] = "Administration panel ";
}

<section class="page-section admin bg-primary" id="admin">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5 mt-5">Administration panel</h2>
        <h5 class="text-center text-uppercase text-secondary mb-5 mt-3">Events awaiting approval: @Model</h5>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="admin-item mx-auto">
                    <div class="admin-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="admin-item-caption-content text-center text-white">
                            <a class="text-center text-uppercase text-secondary" style="text-decoration: none" asp-area="Administration" asp-controller="Admin" asp-action="ManageEvents">Manage Events</a>
                        </div>
                    </div>
                    <img class="img-fluid" src="/images/AdminPanel/EventAdmin.png" alt="..." />
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="admin-item mx-auto" data-bs-toggle="modal" data-bs-target="#adminModal2">
                    <div class="admin-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="admin-item-caption-content text-center text-white">
                             <a class="text-center text-uppercase text-secondary" style="text-decoration: none" asp-area="Administration" asp-controller="Beacon" asp-action="All">Manage Beacons</a>
                        </div>
                    </div>
                    <img class="img-fluid" src="/images/AdminPanel/BeaconAdmin.png" alt="..." />
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="admin-item mx-auto" data-bs-toggle="modal" data-bs-target="#adminModal3">
                    <div class="admin-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="admin-item-caption-content text-center text-white">
                            <a class="text-center text-uppercase text-secondary" style="text-decoration: none" asp-area="Administration" asp-controller="Admin" asp-action="Connectivity">Connect Beacon To Participant</a>
                        </div>
                    </div>
                    <img class="img-fluid" src="/images/AdminPanel/ConnectAdmin.png" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>
