    <section class="page-section admin bg-primary" id="admin">
            <div class="container">
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5 mt-5">Administration panel</h2>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="admin-item mx-auto" data-bs-toggle="modal" data-bs-target="#adminModal1">
                            <div class="admin-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="admin-item-caption-content text-center text-white">
                                    <h3>Approve Events</h3>
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="/images/AdminPanel/EventAdmin.png" alt="..." />
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="admin-item mx-auto" data-bs-toggle="modal" data-bs-target="#adminModal2">
                            <div class="admin-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="admin-item-caption-content text-center text-white">
                                    <h3>Add New Beacon</h3>
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="/images/AdminPanel/BeaconAdmin.png" alt="..." />
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="admin-item mx-auto" data-bs-toggle="modal" data-bs-target="#adminModal3">
                            <div class="admin-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="admin-item-caption-content text-center text-white">
                                    <h3>Connect Beacon To Participant</h3>
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="/images/AdminPanel/ConnectAdmin.png" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </section>
