@{
    ViewData["Title"] = "Manage Beacons ";
}

<section class="bg-primary text-white mb-0">
    <div class="container" style="overflow:auto">
        <a class="btn btn-xl btn-outline-light text-secondary mb-3" style="margin-top: 120px;" asp-area="Administration" asp-controller="Beacon" asp-action="Create">
            Add Beacon
        </a>
        <table class="table table-hover text-secondary">
            <thead>
            <tr class="text-center">
                <th>#</th>
                <th>Id</th>
                <th>Imei</th>
                <th>SimNumber</th>
                <th>Details</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @for (int i = 0; i < 10; i++)
            {
                <tr class="text-center">
                    <td>@i</td>
                    <td>sdfsdfsdfsdfsdfsdfadsfsdzxsadaf</td>
                    <td>111111111111111</td>
                    <td>+359883414534</td>
                    <td><button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#beaconDescription">More</button></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-warning">Edit</a>
                            <a class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <div class="container mt-3">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="btn btn-sm btn-outline-light text-secondary" style="margin-right: 10px; min-width: 80px; max-width: 80px;">Previous</a>
                </li>
                <li class="page-item">
                    <a class="btn btn-sm btn-outline-light text-secondary" style="margin-left: 10px; min-width: 80px; max-width: 80px;">Next</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<div class="modal" id="beaconDescription">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Description</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
           @*  @Model.Description*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>