@model BeaconFormModel

@{
    ViewData["Title"] = "New Beacon ";
}

<section class="page-section mt-3">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mt-5">Add Beacon</h2>
        <partial name="_BeaconFormPartial"/>
    </div>
</section>

@section Scripts {
    <script src="~/js/keyScript.js"></script>
    <partial name="_ValidationScriptsPartial" />
}