@model RouteCreateModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@2.2.0/Control.FullScreen.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-mouse-position@1.2.0/src/L.Control.MousePosition.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.visualclick@1.1.4/src/L.VisualClick.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">

@{
    ViewData["Title"] = "New Route ";

    string? GetAntiForgeryToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<section class="page-section bg-primary">
    <div class="container mx-auto mt-4">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-3 mt-3">Create route for your event</h2>
        <partial name="_MapPartial"/>
        <canvas id="line-chart" width="800" height="400" style="display: none"></canvas>
        <div class="row justify-content-center mt-3">
            <div class="col-lg-8 col-xl-7 shadow p-3 mb-1 rounded">
                <form id="routeForm" method="post">
                    <div class="form-floating">
                        <input asp-for="Name" class="form-control bg-primary" name="Name" placeholder="Name" />
                        <label asp-for="Name">Name</label>
                    </div>
                    <div class="form-floating">
                        <input asp-for="StartLocationName" class="form-control bg-primary" name="StartLocation" placeholder="Start Location Name"></input>
                        <label asp-for="StartLocationName">Start Location Name</label>
                    </div>
                    <div class="form-floating">
                        <input asp-for="FinishLocationName" class="form-control bg-primary" name="FinishLocation" placeholder="Finish Location Name"></input>
                        <label asp-for="FinishLocationName">Finish Location Name</label>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn btn-xl btn-outline-light" id="submitButton" type="submit">Save Route and Event</button>
                    </div>
                </form>
            </div>
        </div>
        <input type="file" id="gpxFileUploadElement" style="display:none"/> 
    </div>
</section>

@section Scripts
{
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/2.2.0/Control.FullScreen.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-mouse-position@1.2.0/src/L.Control.MousePosition.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.visualclick@1.1.4/src/L.VisualClick.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="/js/setupMap.js"></script>
    <script src="/js/mapDrawRoute.js"></script>
    <script src="/js/gpxFileProcessor.js"></script>
    <script src="/js/mapDrawRouteFromGPX.js"></script>
    <script src="/js/setupRouteIcons.js"></script>
    <script src="/js/handleRouteCreate.js"></script>
    <script src="/js/spinner.js"></script>
    <script>
        handleRouteCreateFunc('@GetAntiForgeryToken()');
    </script>
}
