@model RouteCreateModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@2.2.0/Control.FullScreen.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-mouse-position@1.2.0/src/L.Control.MousePosition.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.visualclick@1.1.4/src/L.VisualClick.css">

@{
    ViewData["Title"] = "New Route ";

    string GetAntiForgeryToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<section class="page-section bg-primary">
    <div class="container mx-auto mt-4">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-3 mt-3">Create route for your event</h2>
        <partial name="_MapPartial"/>
        <partial name="_RouteFormPartial"/>
    </div>
</section>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/2.2.0/Control.FullScreen.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-mouse-position@1.2.0/src/L.Control.MousePosition.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.visualclick@1.1.4/src/L.VisualClick.js"></script>
    <script src="/js/setupMap.js"></script>
    <script src="/js/mapDrawRoute.js"></script>

    <script>
        document.getElementById('submitButton').addEventListener('click',
            async (e) => {
                e.preventDefault();
                let form = document.getElementById('routeForm');
                let formData = new FormData(form);
                let name = formData.get('Name');
                let startLocationName = formData.get('StartLocation');
                let finishLocationName = formData.get('FinishLocation');
                await fetch('/Route/Create',
                    {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json',
                            'RequestVerificationToken': '@GetAntiForgeryToken()'
                        },
                        body: JSON.stringify({
                            name,
                            startLocationName,
                            finishLocationName,
                            routePoints,
                            length: routeTotalLength
                        })
                    });
            });
    </script>
}
