@model string
 
@{
    ViewData["Title"] = "Forgot Password ";
}

<section class="page-section mt-3" id="forgotPassword">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mt-5">Forgot Password</h2>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form asp-action="ForgotPassword" method="post">
                    <div class="form-floating mb-2">
                        <input name="email" class="form-control" placeholder="Email address"/>
                        <label>Email address</label>
                    </div>
                    <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}