@{
    ViewData["Title"] = "Reset Password Confirmation ";
}

<section class="page-section mt-3 bg-primary" id="forgotPassword">
    <div class="container mx-auto mt-4">
        <h2 style="word-wrap: break-spaces;" class="page-section-heading text-center text-uppercase text-secondary mt-5">Reset Password</h2>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <h5 class="text-secondary text-center mt-5">Password has been reset. Please <a class="text-secondary" asp-area="Identity" asp-page="/Account/Login">Login</a></h5>
            </div>
        </div>
    </div>
</section>
