@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieContainer" class="cookie-consent"> <span>This site uses cookies to enhance user experience.</span>
        <div class="mt-2 d-flex align-items-center justify-content-center g-2"> <button id="allowCookieBtn" class="allow-button mr-1" data-cookie-string="@cookieString">Allow cookies</button></div>
    </div>
    <script>
        let button = document.getElementById('allowCookieBtn');
        let cookieContainer = document.getElementById('cookieContainer');
        button.addEventListener("click", () => {
            document.cookie = button.dataset.cookieString;
            cookieContainer.remove();
        });
    </script>
}
