<section class="page-section bg-primary">
    <div class="container mx-auto mt-4">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5 mt-5">Latest events</h2>
        <div class="row">
            @for (int i = 0; i < 3; i++)
            {
                <div class="col-md-4">
                    <div class="card mb-5">
                        <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="btn btn-sm bg-warning" style="margin-bottom: 30px" asp-area="Identity" asp-page="/Account/Login">Details</a>
                            <a class="btn btn-sm bg-info" style="margin-bottom: 30px" asp-area="Identity" asp-page="/Account/Login">Apply</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>