@{
    ViewData["Title"] = "Error ";
}


<section class="page-section bg-primary">
    <div class="container mx-auto mt-4">
        <div class="row">
            <h1 class="page-section-heading text-center text-uppercase text-secondary mb-5 mt-5">Oops...something wrong happened</h1>
            <h3 class="page-section-heading text-center text-uppercase text-secondary mb-5 mt-5">Please try again later :)</h3>
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" style="margin-bottom: 30px" asp-controller="Home" asp-action="Index">Start</a>
            </div>
        </div>
    </div>
</section>